.headerClass{
    padding: 0 !important;
    color: black !important;
}

.contentClass{
    margin: 16px 16px 16px !important;
    overflow: initial !important;
    min-width: 100vh;
}

.contentClass div{
    padding: 5px 5px;
    background-color: white;
    color: black;
    min-height: 100%;
}

.ant-layout-header{
    background-color: #E0D7D7 !important;
}

.titles{
    position: absolute;
    left: 220px;
    margin-top: 25px;
}

.primaryActions{
    position: absolute;
    margin-top: 7px !important;
    right: 20px;
}

