:root {
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/secundario4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root{
  max-width: 100%;
  padding: 0rem !important;
  margin: 0px 0px 0px 0px !important
}

body{
  margin: 0px;
  padding: 0px;
}